/* main div to create a grid to organize divs on webpage */
main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 5fr;
    font-family: Roboto;
}

/*semantic div for header */
header {
    grid-column: 2 /-1;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 30px;
}

section {
    grid-column: 2/-1;
    grid-row: 2 / -1;
    background-color: #f1f4f4;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60% 40%;
    padding-top: 20px;
}

/*top header for search bar and alert */
#headerTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

/*left side of top header */
header form {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*css for buttons with no styling */
.btnNoStyling {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*css for text input*/
header input {
    width: 700px;
    height: 25px;
    border-radius: 15px;
    background-color: #E0E0E0;
    border: none;
}
/*right side of header top */
#headerRightSide {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 900;
}

#headerBottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 1.7rem;
}

/*css for semantic nav tag */
nav {
    grid-row: 1 / -1;
    background-color: #1AA7EC;
    color: white;
    line-height: .7rem;
    padding-left: 30px;
    font-weight: 900;
    font-size: 1.1rem;
}

#leftBottomHeader, #rightBottomHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}

#rightBottomHeader {
    gap:20px;
}

.blueBtn {
    background-color: #1AA7EC;
    color: whitesmoke;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

nav h1 {
    padding-top: 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}


.projects {
    grid-row: 1/-1;
}

#projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid green;
}

.announcements h1 {
    font-size: 1rem;
    padding-bottom: 5px;
    font-weight: bold;
}
 
.trending h1, .announce h1, .projects h1{
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight:bold;
    margin-top: 10px;
    padding-bottom: 5px;
}

/*css for each individual trending account */
.trendingAccount {
    display: flex;
    gap:10px;
    padding: 5px;
    line-height: 1.3rem;
}

/*css for each account and announcement container */
.accounts, .announcements {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    gap: 10px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
/*removes last underline from announcements*/
.announcements :last-child {
    border-bottom: none;
}
/* css for each individual announcement */
.announcement {
    padding: 5px;
    font-size: .8rem;
    border-bottom: .5px solid black;
}