/* main div to create a grid to organize divs on webpage */
main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 4.5fr;
    font-family: Roboto;
}

/*semantic div for header */
header {
    grid-column: 2 /-1;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 30px;
}

/*top header for search bar and alert */
#headerTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

/*left side of top header */
header form {
    display: flex;
    align-items: center;
    gap: 15px;
}
/*css styling for header greeting of bottom Header Div*/
#headerGreeting {
    font-weight: bolder;
}

/*css for buttons with no styling */
.btnNoStyling {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*css for text input*/
header input {
    width: 700px;
    height: 25px;
    border-radius: 15px;
    background-color: #E0E0E0;
    border: none;
}
/*right side of header top */
#headerRightSide {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 900;
}
/*css div header bottom */
#headerBottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 1.7rem;
}

/*css for semantic nav tag */
nav {
    grid-row: 1 / -1;
    background-color: #1AA7EC;
    color: white;
    line-height: .7rem;
    padding-left: 30px;
    font-weight: 900;
    font-size: 1.1rem;
}
/*adds flex to bottom div headers */
#leftBottomHeader, #rightBottomHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*adds gap to bottom right header div */
#rightBottomHeader {
    gap:20px;
}

/*css styling for blue buttons in bottom right of header */
.blueBtn {
    background-color: #1AA7EC;
    color: whitesmoke;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

/* styles li of navigation bar */
li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

/* styles header of navigation bar */
nav h1 {
    padding-top: 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* styles section portion  of webpage */

section {
    background-color: #f1f4f4;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 55% 45%;
    padding-top: 20px;
}

/* adds a grid for projects div */
.projects {
    grid-row: 1/-1;
    margin-right: 20px;
    margin-left: 20px;
}

/* styles container for projects */
#projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
/* styles each individual project in projects container */
.project {
    background-color: white;
    border-left: 7px solid rgb(216, 183, 0);
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
}
/* styles p tag in each individual project  */
.project p {
    font-size: .9rem;
    padding-right: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}
/* styles icon images in each individual project */
.projectImages {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
    margin: 10px;
}
/* styles containers for announcements and trending */
.announcementContainer, .trendingContainer {
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;    
}
/* styles header for all sections of web page */
.announcement h1, .announcements h1, .trending h1, .projects h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}
/* styles each individual announcement */
.announcement {
    font-size: .8rem;
    border-bottom: .5px solid black;
    padding: 7px;
    font-weight: 100;

}

/* removes border  of last announcement */
.announcements :last-child {
    border: none;
}

/* styles each individual acconut */
.trendingAccount {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
/* styles names of each trending account */
.trendingAccount span {
    font-weight: 100;
    font-size: .8rem;
}